  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */

  body {
    font-family: "Anek Gurmukhi";
  }

  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #1E152A;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1E152A;
    background: #f6c5ce;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #b2aee1; */
    color: #1E152A;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: #1E152A;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #626262;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }